body{
    background-color: #303036;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

#message-box{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ddd;
    font-size: larger;
    visibility: hidden;
}

#promotion-select{
    position: absolute;
    width: 300px;
    left: 50%;
    top: 1vh;
    transform: translate(-50%, 0);
    visibility: hidden;
}

#board-container{
    position: relative;
    top: 10vh;
    width: min(70vw, 80vh);
    height: min(70vw, 80vh);
    margin: auto;
}

#board{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}